*{
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background:linear-gradient(#FF4029,#F02228);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.headertexts{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icons{
    display: none;
}
.section1{
    width: 100%;
    height: 500px;
     background:linear-gradient(#F02228,#FF4029);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
}
.textsec1{
    width: 350px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.item{
    width: 280px;
    height: 150px;
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
}
.item1{
    width: 300px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    color: white;
}
.section3{
    width: 100%;
    height: 450px;
    background-color: rgba(255, 228, 196, 0.672);
    margin-top: 20px;
}
.items{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}
.item2{
    width:400px;
    height: 150px;
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}
.items2{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}
.section4{
    width: 100%;
    height: 300px;
    display: flex;
    background:linear-gradient(#FFB737,#FFBE4B);
    justify-content: center;
    gap: 50px;
    align-items: center;
}
@media (max-width:510px)
{
    .headertexts{
        display: none;
    }
    .icons{
        display: flex;
    }
    .section1{
        flex-direction: column;
        height: 800px;
        width: 100%;
        margin: auto;
    }
    .textsec1{
        text-align: center;
    }
    .section2{
        overflow: auto;
    }
    .items{
        flex-direction: column;
    }
    .items2{
        flex-direction: column;
    }
    .item2{
        width: 300px;
        margin: auto;
    }
    .item{
        width: 300px;
        margin: auto;
    }
    .item1{
        width: 300px;
        margin: auto;
    }
    .section3{
        width: 100%;
        height: 1000px;
        margin-top: 50px;
    }
    .section4{
        flex-direction: column-reverse;
        height: 800px;
        text-align: center;
    }
}