*{
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background:linear-gradient(#FF4029,#F02228);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.headertexts{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icons{
    display: none;
}
.section1{
    width: 100%;
    height: 500px;
     background:linear-gradient(#F02228,#FF4029);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
}
.textsec1{
    width: 350px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
@media (max-width:510px)
{
    .headertexts{
        display: none;
    }
    .icons{
        display: flex;
    }
    .section1{
        flex-direction: column;
        height: 800px;
        width: 100%;
        margin: auto;
    }
    .textsec1{
        text-align: center;
    }
    .section2{
        overflow: auto;
    }
}